body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li,
dl,
dd,
dt {
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
    font-family: "Microsoft Yahei";
    font-size: 12px;
    color: #c6d4df;
}

.content {
    min-width: 1100px;
}


/* a {
    color: #fff;
} */

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

img {
    vertical-align: middle;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

div.main {
    width: 960px;
    margin: 0px auto;
}

div.rule {
    border-top: 1px solid #194660;
    margin: 15px 0px;
}

h2 {
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;
}

.discount_block>div {
    /* display: inline-block; */
    float: left;
}

.discount_pct {
    background: #4C6B22;
    font-size: 24px;
    color: #A4D007;
    padding: 0 5px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
}

.discount_price {
    background: #000;
    color: #626366;
    height: 26px;
    font-size: 11px;
    text-align: right;
    line-height: 14px;
    padding: 4px 10px 4px 10px;
}

.orginalprice {
    text-decoration: line-through;
}

.discountprice {
    color: #ABDBF5;
    font-size: 13px;
}

.platform_img {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../img/cart/icon_platform_win.png) no-repeat 0px 0px;
}

.platform_img.mac {
    background: url(../img/cart/icon_platform_mac.png) no-repeat 0px 0px;
}

.platform_img.linux {
    background: url(../img/cart/icon_platform_linux.png) no-repeat 0px 0px;
}


/* ***********spotlight************* */

.spotlight {
    height: 395px;
    margin-bottom: 30px;
}

.spotlight .spotlight_area {
    position: relative;
    height: 395px;
}

.spotlight .spotlight_img {
    width: 310px;
    /* height: 280px; */
    overflow: hidden;
}

.spotlight .spotlight_img img {
    width: 310px;
}

.spotlight .spotlight_content {
    position: absolute;
    bottom: 0px;
    background: #15212E;
    padding: 10px 10px;
    width: 310px;
    box-sizing: border-box;
}

.spotlight .spotlight_slider {
    height: 18px;
}


/* *************spotlight_dailydeal************** */

.dailydeal {
    margin-bottom: 30px;
    height: 190px;
    background: linear-gradient(to bottom, #fff, #ABDAF4);
    box-shadow: 0 0 5px #000;
    color: #283846;
}

.dailydeal .dailydeal_img img {
    width: 310px;
    margin-bottom: 3px;
}

.dailydeal .discount_block {
    margin-left: 10px;
    margin-right: 10px;
    height: 34px;
}

.dailydeal_desc {
    margin-right: 10px;
}

.dailydeal_desc .dailydeal_timer {
    font-size: 10px;
    background: #4F95BD;
    color: #C4E4F2;
    text-align: right;
    padding: 0px 2px 0px 0px;
}

.btn_green {
    /* display: inline-block; */
    width: 105px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(to top left, #546A04, #799905);
    border-radius: 2px;
    color: #D2E885;
    float: right;
    margin: 0px 0px 10px 20px;
    font-size: 14px;
}

.btn_green:not(.disabled):hover {
    background: linear-gradient(to top left, #6D8905, #A4D007);
    color: #fff;
}

.btn_green.disabled {
    opacity: 0.5;
    cursor: default;
}


/* slider */

.slider div {
    height: 18px;
    border: none;
    display: inline-block;
    vertical-align: bottom;
}

.prev,
.next {
    width: 40px;
    height: 18px;
    line-height: 18px;
    background: #1E2F3E;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

.prev span,
.next span {
    display: inline-block;
    width: 10px;
    height: 7px;
    background: url(../img/icon_cluster_controls.png) 10px 0px;
}

.prev:hover span {
    background-position: 10px -7px;
}
.next:hover span {
    background-position: 19px -7px;
}

.next span {
    background-position: 19px 0px;
}

.slider-box {
    position: relative;
    width: 220px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    background: rgba(22, 30, 38, 0.5);
    border: none;
    border-radius: 2px;
    margin: 0 1px;
}

.slider-btn {
    width: 25px;
    height: 18px;
    background: #36617F;
    border: none;
    position: absolute;
    transition: all .1s linear;
}