#page_background {
    min-height: 1000px;
    background: url(../img/colored_body_top2.png) no-repeat center top #1b2838;
}

.page_header {
    height: 200px;
    background: url(../img/cluster_bg_2.png) no-repeat bottom center;
    margin-bottom: -30px;
}

.breadcrumbs {
    font-size: 12px;
    margin-top: 10px;
    color: #556F7E;
}

.breadcrumbs a {
    color: #8F98A0;
}

.breadcrumbs a:hover {
    color: #fff;
}

.page_header h2 {
    font-weight: 300;
    color: #fff;
    font-size: 34px;
}

.page_content {
    display: flex;
    justify-content: space-between;
}

.leftcol {
    width: 630px;
    min-height: 460px;
    /* border: 1px solid #000;
    box-sizing: border-box; */
}


/* 左侧购物车列表 */

.cart_item_list {
    /* min-height: 500px; */
    /* border: 1px solid #000;
    box-sizing: border-box; */
}

.cart_row {
    background: rgba(0, 0, 0, 0.2);
    min-height: 77px;
    margin-bottom: 3px;
}

.cart_item {
    padding: 0px 20px;
    min-height: 77px;
}

.item_img {
    float: left;
    margin-top: 16px;
}

.item_desc {
    padding: 23px 10px 0px 10px;
    width: 390px;
    display: inline-block;
}

.item_desc_text {
    color: #FFCC6A;
}

.item_platform {
    float: right;
}

.item_desc .num {
    float: right;
    margin: 0px 5px;
}

.item_desc .num input {
    width: 25px;
    height: 20px;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
    color: #fff;
}

.item_desc .num span {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.item_price_box {
    float: right;
    padding-top: 20px;
    text-align: right;
}

.item_price_box.with_discount {
    padding-top: 16px;
}

.orginal_price {
    text-decoration: line-through;
    color: #56707f;
}

.item_price_box .price {
    font-size: 14px;
}

.item_price_box .remove {
    color: #56707f;
    text-decoration: underline;
}

.item_price_box .remove:hover {
    color: #66C0F4;
}

.checkout_content {
    background: rgba(0, 0, 0, 0.2);
    padding: 16px;
    font-size: 14px;
}

.cart_total {
    font-size: 14px;
}

.cart_total span {
    margin-left: 50px;
}

.checkout_content .item_desc_text div {
    padding: 0px 10px 0px 0px;
}

.checkout_content .item_desc_text {
    padding: 0px 0px 15px;
}

.checkout_notice {
    padding: 0px 0px 15px;
}

.cart_checkout_buttons .btn_green {
    /* display: inline-block; */
    width: 105px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: linear-gradient(to top left, #546A04, #799905);
    border-radius: 2px;
    color: #D2E885;
    float: right;
    margin: 0px 0px 10px 20px;
    font-size: 14px;
}

.cart_checkout_buttons .btn_green:not(.disabled):hover {
    background: linear-gradient(to top left, #6D8905, #A4D007);
    color: #fff;
}

.cart_checkout_buttons .btn_green.disabled {
    opacity: 0.5;
    cursor: default;
}

.checkout_notes {
    font-size: 12px;
    color: #7092A5;
}

.checkout_notes .remove_all a {
    text-decoration: underline;
    color: #56707F;
}

.checkout_notes .remove_all a:hover {
    color: #66C0F4;
    text-decoration: none;
}

h2 {
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;
}

.cart_digital_notice {
    background: rgba(0, 0, 0, 0.2);
    min-height: 57px;
    padding: 16px;
    margin: 0px 0px 20px;
}

.cart_digital_notice .cart_digital_notice_logo img {
    height: 57px;
}

.cart_digital_notice .cart_digital_notice_content {
    float: left;
    margin-left: 15px;
    padding-top: 8px;
}

.cart_digital_notice .cart_digital_notice_content h4 {
    font-size: 16px;
    font-weight: 300;
}

.continue_shopping a {
    background: #2A475E;
    color: #67C1F5;
    font-size: 16px;
    border-radius: 2px;
    padding: 0 10px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}

.continue_shopping a:hover {
    background: linear-gradient(to bottom right, #67C1F5, #417A9B);
    color: #fff;
}

.continue_shopping {
    margin-bottom: 30px;
}


/* rightcol start */

.rightcol {
    width: 310px;
    min-height: 900px;
}

.dailydeal {
    margin-bottom: 30px;
    height: 190px;
    background: linear-gradient(to bottom, #fff, #ABDAF4);
    box-shadow: 0 0 5px #000;
    color: #283846;
}

.dailydeal .dailydeal_img img {
    width: 310px;
    margin-bottom: 5px;
}

.dailydeal .discount_block {
    margin-left: 10px;
    height: 34px;
}

.discount_block>div {
    /* display: inline-block; */
    float: left;
}

.discount_pct {
    background: #4C6B22;
    font-size: 24px;
    color: #A4D007;
    padding: 0 5px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
}

.discount_price {
    background: #000;
    color: #626366;
    height: 26px;
    font-size: 11px;
    text-align: right;
    line-height: 14px;
    padding: 4px 10px 4px 10px;
}

.dayly_deal_orginalprice {
    text-decoration: line-through;
}

.dayly_deal_discountprice {
    color: #ABDBF4;
    font-size: 13px;
}

.dailydeal_desc {
    margin-right: 10px;
}

.dailydeal_desc .dailydeal_timer {
    font-size: 10px;
    background: #4F95BD;
    color: #C4E4F2;
    text-align: right;
    padding: 0px 2px 0px 0px;
}

.spotlight .spotlight_box {
    height: 395px;
    position: relative;
}

.spotlight .spotlight_box .spotlight_area {
    position: absolute;
    height: 395px;
    opacity: 0;
    z-index: -1;
    transition: all .3s linear;
}
.spotlight .spotlight_box .spotlight_area.active {
    opacity: 1;
    z-index: 1;
}

.spotlight .spotlight_img {
    width: 310px;
    /* height: 280px; */
    overflow: hidden;
}

.spotlight .spotlight_img img {
    width: 310px;
}

.spotlight .spotlight_box .spotlight_content {
    position: absolute;
    bottom: 0px;
    background: #15212E;
    padding: 10px 10px;
    width: 310px;
    box-sizing: border-box;
}

.spotlight .spotlight_slider {
    height: 18px;
    width: 310px;
    box-sizing: border-box;
    margin-top: 5px;
}

.special {
    float: left;
    width: 120px;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 16px;
    background: #16202C;
}

.special :last-child {
    color: #ABDBF4;
}