body {
    background: url(../img/page_bg_generated_v6b.jpg) no-repeat center top #1b2838;
}

.contenthub {
    margin: 20px 0px;
}

.contenthub h2 {
    font-size: 40px;
    margin: 0px;
}

.contenthub .contenthub_subtitle {
    font-size: 18px;
    color: #858E97;
}


.page_content {
    display: flex;
    justify-content: space-between;
}

.leftcol {
    margin-bottom: 80px;
}

/* tab_contaier */

.tabs {
    border-bottom: 5px solid #214b6b;
    margin-top: 0;
}

.tabs .tab.active {
    background: #214b6b;
}

.tabs_content .tab_content .tab_item.active {
    background: rgba(0, 0, 0, 0.3);
    margin-right: 0px;
}

.tab_item.active .discount_block {
    margin-right: 10px;
}

.tab_item.active .tab_item_content {
    color: #C0CFDC;
}

.tab_item.active .platform_img.win {
    background: url(../img/cart/icon_platform_win.png);
}

.tab_item.active .platform_img.mac {
    background: url(../img/cart/icon_platform_mac.png);
}

.tab_item.active .platform_img.linux {
    background: url(../img/cart/icon_platform_linux.png);
}

.tab_item.active .discountprice {
    color: #ABDBF5;
}

/* pages */
.page_summary {
    float: left;
    color: #3b6e8c;
}

.page_btn {
    display: inline-block;
    background: rgba( 103, 193, 245, 0.2 );
    color: #67c1f5;
}

.page_btn:hover {
    background: linear-gradient(to right, #3F7999, #64C0F3);
    color: #fff;
}

.page_btn.disabled {
    background: rgba(0, 0, 0, 0.1);
    color: #28394D;
    cursor: default;
    border: 1px solid #253E4B;
}

.pagelink {
    padding: 0px 5px;
    cursor: pointer;
    color: #3A6D8A;
}

.pagelink:hover {
    color: #64C0F3;
}

.pagelink.active {
    color: #fff;
    cursor: default;
}

/* rightcol start */

.popular_tags_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn_small {
    width: 153px;
    display: inline-block;
    background: #2A465D;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #64C0F3;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 3px;
}

.btn_small:hover {
    color: #fff;
    background: linear-gradient(to right, #64C0F3, #3F7999);
}


/* specials_container */
.specials_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, #29485D, rgba(0, 0, 0, 0.2));
    margin-bottom: 20px;
}

.specials_store_capsule  {
    margin: 5px;
}
.specials_store_capsule img {
    width: 145px;
}

.specials_container .discount_block {
    margin: 5px;
}
.specials_container .tab_see_more {
    width: 100%;
    background: none;
}

.specials_container.big .specials_store_capsule img {
    width: 290px;
}
.specials_container.big .specials_store_capsule .discount_pct {
    font-size: 24px;
}