.contenthub {
    margin: 20px 0px;
}

.contenthub h2 {
    font-size: 40px;
    margin: 0px;
}

.contenthub .contenthub_subtitle {
    font-size: 18px;
    color: #858E97;
}


.page_content {
    display: flex;
    justify-content: space-between;
}

.leftcol {
    width: 630px;
    min-height: 460px;
    border: 1px solid #000;
    box-sizing: border-box; 
}

/* rightcol start */
.rightcol {
    width: 310px;
    min-height: 900px;
    border: 1px solid #000;
    box-sizing: border-box; 
}
