.page_content>div+div {
    /* min-height: 500px; */
}


/* home_cluster */

.home_cluster .carousel_container {
    height: 380px;
    /* overflow: hidden; */
}

.home_cluster .carousel_items_container {
    box-shadow: 0 0 5px #000;
}

.home_cluster .carousel_items {
    height: 353px;
    box-shadow: 0 0 7px 0px #000;
}

.store_capsule {
    display: flex;
    justify-content: space-between;
    background: url(../img/index/background_maincap_2.jpg) no-repeat right;
    overflow: hidden;
    float: left;
}

.store_capsule .main_capsule {
    width: 616px;
    box-shadow: 0 0 10px 5px #000;
    /* background:url(../img/index/capsule_616x353.jpg) no-repeat; */
    transition: all .5s linear;
}

.store_capsule .info {
    width: 344px;
    height: 353px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.store_capsule .info .app_name {
    padding: 25px 10px 0px;
}

.store_capsule .info .screenshots {
    width: 344px;
}

.store_capsule .info .screenshots img {
    float: left;
    width: 162px;
    height: 69px;
    padding: 10px 10px 0 0;
    opacity: 0.6;
}

.store_capsule .info .screenshots img:hover {
    opacity: 1;
}

.store_capsule .info .reson {
    padding: 0px 10px 0px;
    margin-top: 5px;
}

.store_capsule .info .reson .main {
    font-size: 21px;
}

.store_capsule .info .reson .additional {
    font-size: 11px;
    margin-top: 5px;
    background: #394148;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 5px;
}

/* discount_block.sm */

.discount_block.sm {
    display: inline-block;
    font-size: 13px;
    margin: 10px 0px 0px 10px;
    position: absolute;
    bottom: 10px;
}

.discount_block.sm .discount_pct {
    height: 16px;
    line-height: 16px;
    font-size: 13px;
}

.discount_block.sm .discount_price {
    height: 16px;
    line-height: 16px;
    padding: 0px 5px;
}

.discount_block.sm .discount_price div {
    display: inline-block;
}

.finalprice {
    background: none;
    color: #ACDBF5;
}

.platforms {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
}




/* **************special_offers*************** */

.special_offers {
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn_transparent {
    padding: 2px 15px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 2px;
    margin-left: 10px;
}

.special_offers .carousel_container {
    height: 420px;
    margin: 0;
}

.special_offers .carousel_items {
    width: 960px;
    height: 390px;
    position: relative;
    box-shadow: none;
}

.spotlight_item {
    width: 960px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s linear;
    z-index: 0;
}

.spotlight_item.active {
    opacity: 1;
    z-index: 2;
}

.spotlight_item .spotlight_area {
    width: 310px;
    height: 390px;
    background: url(../img/index/background_spotlight.jpg) no-repeat;
    background-size: cover;
    color: #85D0E4;
    box-shadow: 0 0 5px 0 #000;
}

.spotlight .spotlight_content {
    background: url(../img/index/background_spotlight.jpg);
}

.spotlight .discount_price {
    background: #0D303F;
}

.spotlight .discount_block .dayly_deal_orginalprice {
    color: #7193A6;
    text-decoration: line-through;
}

.spotlight .discount_block .dayly_deal_discountprice {
    color: #85D0E4;
}

.spotlight_area.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    box-shadow: none;
}

.spotlight_area.flex>.md_box {
    display: block;
    height: 185px;
    background: url(../img/index/background_spotlight.jpg);
    box-shadow: 0 0 5px 0 #000;
}

.spotlight_area.flex .dailydeal {
    height: 185px;
}

.spotlight_area.flex .dailydeal.md_box {
    background: url(../img/index/background_spotlight.jpg);
}


/* ****************************big_buttons******************************* */

.btn_container {
    margin: 10px 0px 40px 0px;
    display: flex;
    justify-content: space-between;
}

.big_button {
    color: #49BEF2;
    display: inline-block;
    width: 23%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
    background: url(../img/index/background_spotlight.jpg);
    background-position-y: 130px;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #000;
}

.big_button:hover {
    background-position-y: -142px;
}


/* creators */

.steam_creators {
    margin-bottom: 40px;
}

.steam_creators .carousel_items {
    position: relative;
    min-height: 374px;
}

.creator_page {
    width: 960px;
    min-height: 374px;
    box-sizing: border-box;
    background: linear-gradient(to right bottom, #48535F, #323D4C);
    box-shadow: 0 0 5px 0 #000;
    padding: 20px 20px 10px 20px;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .3s linear;
    z-index: -1;
}

.creator_page.active {
    opacity: 1;
    z-index: 2;
    position: relative;
}

.profile .avatar {
    margin-right: 10px;
}

.info .name {
    font-size: 18px;
}

.info .name span {
    color: #EFF3F6;
}

.actions {
    background: rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 2px 20px 2px 2px;
    font-size: 12px;
}

.actions .btn_green {
    float: left;
    margin: 0;
    width: 60px;
    font-size: 15px;
    margin: 3px 5px 3px 5px;
}

.actions .followers {
    float: left;
}

.actions .followers span {
    font-size: 15px;
}

.creations {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.creations>div {
    width: 220px;
    min-height: 264px;
}

.creations .capsule {
    display: block;
    box-shadow: 0 0 10px 0 #000;
    position: relative;
}

.creations .capsule .discount_block {
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.creations .capsule .discount_block .discount_price {
    background: rgba(0, 0, 0, 0.6);
    font-size: 11px;
}

.creations .capsule .discount_block .discount_price .discountprice,
.creations .capsule .discount_block .discount_price .orginalprice,
.creations .capsule .discount_block .discount_price .discount_pct,
.creations .capsule .discount_block .discount_price .finalprice {
    font-size: 11px;
}

.creations .capsule img {
    width: 220px;
    height: 105px;
}

.creations .review_recommended {
    font-size: 14px;
    margin: 5px 0px;
    color: #66C0F4;
}


/* tab_container */

.tab_container {
    height: 815px;
    background: linear-gradient(to bottom, rgba(42, 71, 94, 1) 5%, rgba(42, 71, 94, 0) 70%);
    /* margin-bottom: 40px; */
    font-size: 14px;
}

.tab_leftcol {
    /* height: 815px; */
    width: 630px;
    float: left;
}

.tab_container a {
    font-size: 14px;
    color: #4F94BC;
}

.tab_container a:hover {
    color: #fff;
}

.tabs {
    display: flex;
    margin-top: -37px;
    height: 38px;
}

.tabs .tab {
    padding: 10px;
    border-radius: 3px 3px 0 0;
}

.tabs .tab.active {
    background: rgba(42, 71, 94, 1);
}

.tabs .tab.active a {
    color: #fff;
}

.tabs_content {
    margin-top: 7px;
    box-sizing: border-box;
}

.tabs_content .tab_content {
    display: none;
}

.tabs_content .tab_content.active {
    display: block;
}

.tabs_content .tab_content .tab_item {
    display: block;
    height: 69px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.2);
}

.tabs_content .tab_content .tab_item.active {
    background: linear-gradient( to right, #c6e6f8 5%, #95bcd3 95%);
    margin-right: -14px;
}

.tab_see_more {
    background: rgba(0, 0, 0, 0.2);
    text-align: right;
    padding: 10px 0px;
    font-size: 12px;
}

.tab_see_more .btn_transparent {
    color: #C6D4DF;
    font-size: 12px;
    margin: 0 5px;
    border-color: #737981;
}

.tab_see_more .btn_transparent:hover {
    border-color: #fff;
}

.tab_item>img {
    float: left;
}

.tab_item .discount_block {
    float: right;
    margin: 25px 10px 0px 0px;
}

.tab_item.active .discount_block {
    margin-right: 24px;
}

.tab_item .discount_price {
    background: none;
    margin-left: 50px;
}

.tab_item .discount_pct {
    font-size: 14px;
    height: 20px;
    line-height: normal;
}

.tab_item .orginalprice {
    margin-top: -10px;
    color: #7193a6;
}

.tab_item.active .discountprice {
    color: #22303D;
}

.tab_item .tab_item_content {
    padding-left: 15px;
    /* float: left; */
    color: #C0CFDC;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* max-width: 320px; */
    max-width: 305px;
}

.tab_item .tab_item_content .tab_item_tags {
    font-size: 12px;
    color: #384959;
}

.tab_item.active .tab_item_content {
    color: #10161b;
}

.tab_item_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab_item .platform_img {
    opacity: 0.3;
}

.tab_item.active .platform_img.win {
    background: url(../img/index/icon_platform_win_dark.png);
}

.tab_item.active .platform_img.mac {
    background: url(../img/index/icon_platform_mac_dark.png);
}

.tab_item.active .platform_img.linux {
    background: url(../img/index/icon_platform_linux_dark.png);
}

.tab_rightcol {
    height: 735px;
    width: 320px;
    float: right;
    margin-top: 8px;
}

.tab_preview_container {}

.tab_preview {
    height: 735px;
    background: linear-gradient(to right, #95BBD4, #859BAC);
    box-sizing: border-box;
    display: none;
    padding: 15px 25px 0px;
}

.tab_preview.active {
    display: block;
}

.tab_preview h2 {
    font-size: 21px;
    color: #263645;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab_review_summary {
    font-size: 12px;
    background: rgba(38, 54, 69, 0.6);
    padding: 5px;
    border-radius: 3px;
    width: 250px;
}

.tab_review_summary .game_review_summary.positive {
    color: #66C0F4;
}

.tab_review_summary .game_review_summary.mixed {
    color: #B9A074;
}

.tab_review_summary .game_review_summary.noreeciews {
    color: #929396;
}

.tags {
    margin-top: 10px;
    margin-bottom: 5px
}

.tags a {
    background: rgba(38, 54, 69, 0.6);
    color: #fff;
    font-size: 11px;
    padding: 5px;
    border-radius: 3px;
}

.tags a:hover {
    color: #66C0F4;
}

.tab_preview img {
    width: 258px;
    margin-top: 5px;
}


/* specials_under10 */

.specials_under10 {
    margin-bottom: 40px;
}

.specials_under10 .carousel_items {
    position: relative;
}

.specials_under10 .carousel_item {
    width: 960px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s linear;
}

.specials_under10 .carousel_item.active {
    position: relative;
    opacity: 1;
    z-index: 1;
}

.specials_under10 .arrow {
    top: 25%;
}

.specials_store_capsule {
    background: linear-gradient(to bottom right, #2A3E59, #407999);
    display: block;
}

.specials_store_capsule:hover {
    background: linear-gradient(to bottom right, #386B87, #3A708C);
}

.specials_store_capsule .discount_block {
    position: static;
    margin: 10px;
    font-size: 11px;
}

.specials_store_capsule .discount_block .discount_price {
    background: rgba(0, 0, 0, 0.2);
}

.specials_store_capsule .discount_block .discount_pct,
.specials_store_capsule .discount_block .finalprice,
.specials_store_capsule .discount_block .discountprice,
.specials_store_capsule .discount_block .orginalprice {
    font-size: 11px;
}

.specials_store_capsule img {
    width: 229px;
}


/* marketing_area */

.marketing_area {
    margin-bottom: 40px;
}


/* content */

.content_callout,
.content_login {
    background: #000;
    text-align: center;
    padding: 25px 0px;
    font-size: 14px;
}

.more_content_title {
    background: url(../img/data-image-png;base….png);
    background-repeat: repeat-x;
    font-size: 24px;
    color: #67C1F5;
}

.more_content_title span {
    background: #000;
    padding: 0 10px;
}

.content_callout .btn_green,
.content_login .btn_green {
    width: 60px;
    margin: 10px 0px;
    display: inline-block;
    float: none;
}

.content_callout .register,
.content_login .register {
    font-size: 14px;
    color: #fff;
}

.content_callout .register:hover,
.content_login .register:hover {
    color: #66C0F4;
}

.content_login>div>div {
    margin: 8px 0px;
}