.page_content>div+div {
    /* min-height: 500px; */
}


/* home_cluster */

.home_cluster .carousel_container {
    height: 380px;
    /* overflow: hidden; */
}

.home_cluster .carousel_items_container {
    box-shadow: 0 0 5px #000;
}

.home_cluster .carousel_items {
    height: 353px;
    box-shadow: 0 0 7px 0px #000;
}

.store_capsule {
    display: flex;
    justify-content: space-between;
    background: url(../img/index/background_maincap_2.jpg) no-repeat right;
    overflow: hidden;
    float: left;
}

.store_capsule .main_capsule {
    width: 616px;
    box-shadow: 0 0 10px 5px #000;
    /* background:url(../img/index/capsule_616x353.jpg) no-repeat; */
    transition: all .5s linear;
}

.store_capsule .info {
    width: 344px;
    height: 353px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.store_capsule .info .app_name {
    padding: 25px 10px 0px;
}

.store_capsule .info .screenshots {
    width: 344px;
}

.store_capsule .info .screenshots img {
    float: left;
    width: 162px;
    height: 69px;
    padding: 10px 10px 0 0;
    opacity: 0.6;
}

.store_capsule .info .screenshots img:hover {
    opacity: 1;
}

.store_capsule .info .reson {
    padding: 0px 10px 0px;
    margin-top: 5px;
}

.store_capsule .info .reson .main {
    font-size: 21px;
}

.store_capsule .info .reson .additional {
    font-size: 11px;
    margin-top: 5px;
    background: #394148;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 5px;
}

/* discount_block.sm */

.finalprice {
    background: none;
    color: #ACDBF5;
}

.platforms {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
}




/* **************special_offers*************** */

.special_offers {
    margin-top: 40px;
    margin-bottom: 20px;
}

.special_offers .carousel_container {
    height: 420px;
    margin: 0;
}

.special_offers .carousel_items {
    width: 960px;
    height: 390px;
    position: relative;
    box-shadow: none;
}

.spotlight_item {
    width: 960px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s linear;
    z-index: 0;
}

.spotlight_item.active {
    opacity: 1;
    z-index: 2;
}

.spotlight_item .spotlight_area {
    width: 310px;
    height: 390px;
    background: url(../img/index/background_spotlight.jpg) no-repeat;
    background-size: cover;
    color: #85D0E4;
    box-shadow: 0 0 5px 0 #000;
}

.spotlight .spotlight_content {
    background: url(../img/index/background_spotlight.jpg);
}

.spotlight .discount_price {
    background: #0D303F;
}

.spotlight .discount_block .dayly_deal_orginalprice {
    color: #7193A6;
    text-decoration: line-through;
}

.spotlight .discount_block .dayly_deal_discountprice {
    color: #85D0E4;
}

.spotlight_area.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    box-shadow: none;
}

.spotlight_area.flex>.md_box {
    display: block;
    height: 185px;
    background: url(../img/index/background_spotlight.jpg);
    box-shadow: 0 0 5px 0 #000;
}

.spotlight_area.flex .dailydeal {
    height: 185px;
}

.spotlight_area.flex .dailydeal.md_box {
    background: url(../img/index/background_spotlight.jpg);
}


/* ****************************big_buttons******************************* */

.btn_container {
    margin: 10px 0px 40px 0px;
    display: flex;
    justify-content: space-between;
}

.big_button {
    color: #49BEF2;
    display: inline-block;
    width: 23%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
    background: url(../img/index/background_spotlight.jpg);
    background-position-y: 130px;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 #000;
}

.big_button:hover {
    background-position-y: -142px;
}


/* creators */

.steam_creators {
    margin-bottom: 40px;
}

.steam_creators .carousel_items {
    position: relative;
    min-height: 374px;
}

.creator_page {
    width: 960px;
    min-height: 374px;
    box-sizing: border-box;
    background: linear-gradient(to right bottom, #48535F, #323D4C);
    box-shadow: 0 0 5px 0 #000;
    padding: 20px 20px 10px 20px;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .3s linear;
    z-index: -1;
}

.creator_page.active {
    opacity: 1;
    z-index: 2;
    position: relative;
}

.profile .avatar {
    margin-right: 10px;
}

.info .name {
    font-size: 18px;
}

.info .name span {
    color: #EFF3F6;
}

.actions {
    background: rgba(0, 0, 0, 0.2);
    width: fit-content;
    padding: 2px 20px 2px 2px;
    font-size: 12px;
}

.actions .btn_green {
    float: left;
    margin: 0;
    width: 60px;
    font-size: 15px;
    margin: 3px 5px 3px 5px;
}

.actions .followers {
    float: left;
}

.actions .followers span {
    font-size: 15px;
}

.creations {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.creations>div {
    width: 220px;
    min-height: 264px;
}

.creations .capsule {
    display: block;
    box-shadow: 0 0 10px 0 #000;
    position: relative;
}

.creations .capsule .discount_block {
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.creations .capsule .discount_block .discount_price {
    background: rgba(0, 0, 0, 0.6);
    font-size: 11px;
}

.creations .capsule .discount_block .discount_price .discountprice,
.creations .capsule .discount_block .discount_price .orginalprice,
.creations .capsule .discount_block .discount_price .discount_pct,
.creations .capsule .discount_block .discount_price .finalprice {
    font-size: 11px;
}

.creations .capsule img {
    width: 220px;
    height: 105px;
}

.creations .review_recommended {
    font-size: 14px;
    margin: 5px 0px;
    color: #66C0F4;
}

/* specials_under10 */

.specials_under10 {
    margin-bottom: 40px;
}

.specials_under10 .carousel_items {
    position: relative;
}

.specials_under10 .carousel_item {
    width: 960px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s linear;
}

.specials_under10 .carousel_item.active {
    position: relative;
    opacity: 1;
    z-index: 1;
}

.specials_under10 .arrow {
    top: 25%;
}

/* marketing_area */

.marketing_area {
    margin-bottom: 40px;
}

.marketing_message {
    float: left;
    background: linear-gradient(to bottom right,#212B37,#305672);
}

.marketing_message.small {
    margin:0px 0px 5px 10px;
    background: transparent;
}

.marketing_message img {
    width:368px;
    /* height:398px; */
    height:412px;
}
.marketing_message.small img {
    /* width:173px;
    height:182px; */
    width:187px;
    height:192px;
}

.msg_inline.right {
    text-align: right;
    padding: 3px;
}

/* content */

.content_callout,
.content_login {
    background: #000;
    text-align: center;
    padding: 25px 0px;
    font-size: 14px;
}

.more_content_title {
    background: url(../img/data-image-png;base….png);
    background-repeat: repeat-x;
    font-size: 24px;
    color: #67C1F5;
}

.more_content_title span {
    background: #000;
    padding: 0 10px;
}

.content_callout .btn_green,
.content_login .btn_green {
    width: 60px;
    margin: 10px 0px;
    display: inline-block;
    float: none;
}

.content_callout .register,
.content_login .register {
    font-size: 14px;
    color: #fff;
}

.content_callout .register:hover,
.content_login .register:hover {
    color: #66C0F4;
}

.content_login>div>div {
    margin: 8px 0px;
}

/* frontend3d */
.frontend_box {
    width: 187px;
    height: 215px;
    position: relative;
    perspective: 1000px;
}

.frontend_box>div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 2;
    transition: all .5s linear;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.frontend_box>.front {
    background: linear-gradient(to bottom right,#212B37,#305672);
}

.frontend_box>.end {
    z-index: 1;
    transform: rotateY(-180deg);
}

.frontend_box>.end img {
    width: 187px;
    height: auto;
    margin-bottom: 5px;
}

.frontend_box>.front.rotate {
    transform: rotateY(180deg);
}

.frontend_box>.end.rotate {
    transform: rotateY(0deg);
}